{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h3 mb-4">Créer un nouvel article</h1>
            {% include 'articles/_form.html.twig' with {form: form, button_label: 'Créer'} %}
        </div>
    </div>
{% endblock %}
