{% extends 'base.html.twig' %}

{% block title %}Nouvelle categorie{% endblock %}

{% block body %}
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="h3 mb-4">Ajouter une categorie</h1>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Creer</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
