<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ path('article_index') }}">Gestion Articles</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{{ path('article_index') }}">Accueil</a>
            <a class="nav-link" href="{{ path('article_new') }}">Nouvel article</a>
            <a class="nav-link" href="{{ path('new_category') }}">Ajouter categorie</a>
        </div>
    </div>
</nav>
